install:
    - rm -rf docs || exit 0

script:
    - ./hugo_travis_ci

deploy:
    provider: pages
    skip_cleanup: true
    local_dir: docs
    target-branch: master
    github_token: $github_token
    on:
        branch: source
