{{- /* Site-level override of themes/academimal/layouts/partials/sidebar.html.

     Two changes from the theme's copy:
       1. a "Posts" link, pointing at the /posts/ section;
       2. the icon paths are root-relative (/icons/...) instead of ./icons/...,
          so they still resolve on pages that are not at the site root.
     The anchor links (#bio, #publications, ...) only work from the homepage, so
     off the homepage they are written as /#bio.                              */ -}}
{{- $home := .Site.Home.RelPermalink -}}

<p style="line-height:1.07" class="contactinfo"> <img src="{{ "/icons/mail_outline.svg" | relURL }}" class="octicons">  <a href="mailto:jonathan_old@berkeley.edu" target="_blank">E-Mail</a></p>
<p style="line-height:1.07" class="contactinfo"> <img src="{{ "/icons/twitter2.svg" | relURL }}" class="octicons">  <a href="https://twitter.com/Jonathan_Old" target="_blank">Twitter</a></p>
<p style="line-height:1.07" class="contactinfo"> <img src="{{ "/icons/github.svg" | relURL }}" class="octicons">  <a href="http://github.com/jonathanold" target="_blank">GitHub</a></p>
<p style="line-height:1.07" class="contactinfo"> <img src="{{ "/icons/cv.png" | relURL }}" class="octicons">  <a href="{{ "/pdf/JOld_CV_public.pdf" | relURL }}" target="_blank">Curriculum Vitae</a></p>

<hr style="margin: 15px 0 15px" />

<p style="line-height:1.07" class="contactinfo"><a href="{{ $home }}#bio">Bio</a></p>
{{ with .Site.Data.publications }}
<p style="line-height:1.07" class="contactinfo"><a href="{{ $home }}#publications">Publications</a></p>
{{ end }}
{{ with .Site.Data.working_papers }}
<p style="line-height:1.07" class="contactinfo"><a href="{{ $home }}#workingpapers">Working Papers</a></p>
{{ end }}
{{ with .GetPage "/posts" }}
<p style="line-height:1.07" class="contactinfo"><a href="{{ .RelPermalink }}">Posts</a></p>
{{ end }}
{{ with .GetPage "/sections/policy.md" }}
<p style="line-height:1.07" class="contactinfo"><a href="{{ $home }}#policy">Policy</a></p>
{{ end }}
<p style="line-height:1.07" class="contactinfo"><a href="{{ "/teaching.html" | relURL }}">Teaching</a></p>

{{ with .GetPage "/sections/resources.md" }}
<p style="line-height:1.07" class="contactinfo"><a href="{{ $home }}#resources">Resources</a></p>

<p style="line-height:1.07" class="contactinfo"><a href="{{ "/archive.html" | relURL }}">Archive</a></p>
{{ end }}
